In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# minus 폰트 깨짐 방지
plt.rc('axes', unicode_minus=False)
# 한글 폰트를 사용하면 minus font가 깨지는 경우가 있어서 unicode_minus를 False로 설정

In [5]:
# 글씨를 선명하게 보기 위해 retina 설정을 합니다.
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

In [57]:
df = pd.read_csv("C:/Users/enbi104/Documents/data/상가(상권)정보_201912/상가업소정보_201912_01.csv", error_bad_lines=False, sep='|', low_memory=False)
# 경로를 다 적어주지 않으면 에러가 뜸
# error_bad_lines=False, sep='|', 없으면 에러 뜸. 왜???
df.shape

(573680, 39)

In [52]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19905471,와라와라호프,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1168010600106040000014378,대치상가,서울특별시 강남구 남부순환로 2933,135280,6280.0,NaN,1,NaN,127.061026,37.493922
1,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080,6149.0,NaN,1,NaN,127.047883,37.505675
2,19911801,프로포즈,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,1154510200101620001017748,NaN,서울특별시 금천구 가산로 34-6,153010,8545.0,NaN,1,NaN,126.899220,37.471711
3,19912201,싱싱커피&토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,2653010400105780000002037,산업용품유통상가,부산광역시 사상구 괘감로 37,617726,46977.0,NaN,1,26,128.980455,35.159774
4,19932756,가락사우나내스낵,NaN,F,생활서비스,F09,대중목욕탕/휴게,F09A02,사우나/증기탕/온천,S96121,...,1171010500102560005010490,NaN,서울특별시 송파구 가락로 71,138846,5690.0,NaN,1,NaN,127.104071,37.500249

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573680 entries, 0 to 573679
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     573680 non-null  int64
 1   상호명        573679 non-null  object
 2   지점명        76674 non-null   object
 3   상권업종대분류코드  573680 non-null  object
 4   상권업종대분류명   573680 non-null  object
 5   상권업종중분류코드  573680 non-null  object
 6   상권업종중분류명   573680 non-null  object
 7   상권업종소분류코드  573680 non-null  object
 8   상권업종소분류명   573680 non-null  object
 9   표준산업분류코드   539290 non-null  object
 10  표준산업분류명    539290 non-null  object
 11  시도코드       573680 non-null  int64
 12  시도명        573680 non-null  object
 13  시군구코드      573680 non-null  int64
 14  시군구명       573680 non-null  object
 15  행정동코드      573680 non-null  int64
 16  행정동명       573680 non-null  object
 17  법정동코드      573680 non-null  int64
 18  법정동명       573680 non-null  object
 19  지번코드       573680 non-null  int64
 20  대지구분코드     573680 non-null  int64
 21  대지구분명      573680 non-null  object
 22  지번본번지      573680 non-null  int64
 23  지번부번지      474924 non-null  float64
 24  지번주소       573680 non-null  object
 25  도로명코드      573680 non-null  int64
 26  도로명        573680 non-null  object
 27  건물본번지      573680 non-null  int64
 28  건물부번지      71988 non-null   float64
 29  건물관리번호     573680 non-null  object
 30  건물명        265608 non-null  object
 31  도로명주소      573680 non-null  object
 32  구우편번호      573680 non-null  int64
 33  신우편번호      573671 non-null  float64
 34  동정보        50856 non-null   object
 35  층정보        347127 non-null  object
 36  호정보        85266 non-null   object
 37  경도         573680 non-null  float64
 38  위도         573680 non-null  float64
dtypes: float64(5), int64(11), object(23)
memory usage: 170.7+ MB

In [54]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [ ]:
df.dtypes

## 결측치 확인하기

In [60]:
null_count = df.isnull().sum()
null_count

상가업소번호            0
상호명               1
지점명          497006
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드      34390
표준산업분류명       34390
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명              0
법정동코드             0
법정동명              0
지번코드              0
대지구분코드            0
대지구분명             0
지번본번지             0
지번부번지         98756
지번주소              0
도로명코드             0
도로명               0
건물본번지             0
건물부번지        501692
건물관리번호            0
건물명          308072
도로명주소             0
구우편번호             0
신우편번호             9
동정보          522824
층정보          226553
호정보          488414
경도                0
위도                0
dtype: int64